on: [push, pull_request]
name: Tests
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}-${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && github.sha || '' }}
  cancel-in-progress: true

jobs:
  # Run tests on Linux, Windows, macOS
  test:
    name: "${{ matrix.os }} / py${{ matrix.python }}"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.12"]

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install deps
        run: |
          make ci-test

  # BSD tests
  freebsd:
    # if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run tests
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          run: |
            make ci-test

  # Linters
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Linters
        run: |
          python -m pip install black ruff toml-sort rstcheck
          make lint-all

  # Check source distribution
  check-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Check source distribution
        run: |
          python -m pip install --upgrade setuptools pip
          python -m pip install .[linters]
          make sdist
          make check-sdist
